body,
html {
    margin: auto;
    padding: auto;
    font-family: Arial, sans-serif;
    /* height: 100%; */
    overflow-x: hidden;
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(83,83,83,1) 50%, rgba(0,0,0,1) 100%);
}

.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /* background-color: black; */

}


.slide {

    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;


}

.navigation {
	/* display: none; */
	position: fixed;
	z-index: 999;
	top: 50%;
	margin-top: -315px;
	text-align: center;



}


.navigation li{

	color:#A1A1A1 !important;
	display:block;
	padding: 0 10px;
    font-family: poller one;
	line-height:67px;
	font-weight:900;
	text-align:center;
	width:43px;
	padding-left: 28px;
	cursor:pointer;
	transition: all .2s ease-in-out;
}



.navigation li:hover{
	/* padding-left: 24px;
	font-size: 100%;
	line-height: 37px !important; */
	
}



.navigation li.light-menu{
	border-bottom: 2px solid rgba(255, 255, 255, 0.192) !important
}


.navigation li.light-menu:hover{
	border-bottom: 2px solid rgb(255, 255, 255) !important;

}
.navigation li.active:hover{


}
.navigation .noborder{
	border: none !important;
	padding-left: 27px;
}
.navigation li.dark-menu.noborder:hover,.navigation li.light-menu.noborder:hover{
	border-left: none !important;
	padding-left: 27px;
}

li.noborder.light-menu{
	display: none !important;
	border-bottom: 0 !important;
}



#section1 {
    background-image: url('images/datewhite.png');

}

#section2 {
    background-image: url('images/dissingdivergmt.png');
}

#section3 {
    background-image: url('images/masterwhitebrownleather.png');
}

#section4 {
    background-image: url('images/montaro.png');
}

#section5 {
    background-image: url('images/mk10white.png');
}

#section6 {
    background-image: url('images/Dissing-chrono-all-black.png');
}

#section7 {
    background-image: url('images/dissing\ momento.png');
}

#section8 {
    background-image: url('images/dissing\ ocean.png');
}

/*Header logo hvid*/
header {
    background-color: black;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#logostart {
    margin-left: auto;
    margin-right: auto;
    margin-top: 17%;
    margin-bottom: 30%;
    width: fit-content;
    transition: transform 2s ease-in-out;

}

.logotransform {
    transform: scale(1.5);
}