body,
html {
    margin: auto;
    padding: auto;
    font-family: Arial, sans-serif;
    /* height: 100%; */
    overflow-x: hidden;
}

.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
}

#section1 {
    background-image: url('images/datewhite.png');
}

#section2 {
    background-image: url('images/dissingdivergmt.png');
}

#section3 {
    background-image: url('images/masterwhitebrownleather.png');
}

#section4 {
    background-image: url('images/montaro.png');
}

#section5 {
    background-image: url('images/mk10white.png');
}

#section6 {
    background-image: url('images/Dissing-chrono-all-black.png');
}

#section7 {
    background-image: url('images/dissing\ momento.png');
}
#section8 {
    background-image: url('images/dissing\ ocean.png');
}

/*Header logo hvid*/
header{
    background-color: black;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
#logostart{
    margin-left: auto;
    margin-right: auto;
    margin-top: 17%;
    margin-bottom: 20%;
    transition: transform 2s ease-in-out;
}
.logotransform{
    transform: scale(1.5);
}

