body,
html {
    margin: auto;
    padding: auto;
    font-family: Arial, sans-serif;
    /* height: 100%; */
    overflow-x: hidden;

}

.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;


}

.slide {

    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;

}

.upper-nav {}


.navigation {
    /* display: none; */
    position: fixed;
    top: 50%;
    margin-top: -315px;
    text-align: center;



}

.navigation li {

    color: #A1A1A1;
    display: block;
    padding: 0 10px;
    font-family: poller one;
    line-height: 67px;
    font-weight: 900;
    text-align: center;
    width: 43px;
    padding-left: 28px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

/*Hover*/
.navigation li.light-menu {
    border-bottom: 2px solid rgba(255, 255, 255, 0.192);
}

.navigation li.light-menu:hover {
    border-bottom: 2px solid rgb(255, 255, 255);

}

.navigation .noborder {
    border: none;
    padding-left: 27px;
}

.navigation li.dark-menu.noborder:hover,
.navigation li.light-menu.noborder:hover {
    border-left: none;
    padding-left: 27px;
}

li.noborder.light-menu {
    display: none ;
    border-bottom: 0 ;
}

/*Billeder*/
#section1 {
    background-image: url('images/datewhite.png');

}

#section2 {
    background-image: url('images/dissingdivergmt.png');
}

#section3 {
    background-image: url('images/masterwhitebrownleather.png');
}

#section4 {
    background-image: url('images/montaro.png');
}

#section5 {
    background-image: url('images/mk10white.png');
}

#section6 {
    background-image: url('images/Dissing-chrono-all-black.png');
}

#section7 {
    background-image: url('images/dissing\ momento.png');
}

#section8 {
    background-image: url('images/dissing\ ocean.png');
}

/*Tekst*/
h1 {
    font-family: poller one;
    color: white;
    font-size: 80px;
    text-transform: uppercase;
}

h2 {
    font-family: Yeseva One;
    color: white;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
}

h3 {
    font-family: Inter;
    color: white;
    font-size: 30px;
    line-height: 120%;
    text-align: left;
}

h4 {
    font-family: Inter;
    color: white;
    font-size: 15px;
    text-align: left;
}

p {
    font-size: 25px;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    font-family: Inter;
    line-height: 220%;
    padding-top: 2%;
}

/*Tekst citater*/
.citat {
    font-size: 25px;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    font-family: Inter;
    line-height: 150%;
    text-align: center;
    text-transform: italic;
}

/*Billeder og tekst i midten*/
.midt {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-top: 5%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 3%;
}

/*Runde billeder*/
.borderimg {
    border-radius: 50%;
}

/*Video*/
video {
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.videosection {
    background-color: black;
    display: flex;
    justify-content: center;
}

#videosectionscroll {
    background-color: black;
}

/*Burgermenu*/
/*.navbar {
    background-color: #333;
    overflow: hidden;
}

.burger-menu {
    display: none;
    cursor: pointer;
    padding: 15px;
    color: white;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}



li {
    float: left;
}

a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
    background-color: #ddd;
    color: black;


/*Knap til at vise video*/
#fremvideo {
    background-color: rgba(227, 227, 227, 1);
    color: rgba(92, 92, 92, 1);
    padding: 2%;
    border: solid 1px rgba(227, 227, 227, 1);
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-family: inter;
    text-transform: uppercase;
    margin-top: 3%;
    margin-bottom: 3%;
}

.tidslinje a {
    text-decoration: none;
}

/*Header logo hvid*/
header {
    background-color: black;
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
}

#logostart {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    margin-bottom: 20%;
    transition: transform 2s ease-in-out;

}

.logotransform {
    transform: scale(1.5);
}

/*Tidslinje Dissing Watches*/
.tidslinje {
    background-color: black;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 10) 50%, transparent);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

/*Interview section*/
.tokoloner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

/*Footer*/
/*Trust pilot section index*/
#trust {
    background-color: rgba(92, 92, 92, 1);
    display: flex;
    padding: 3%;
    justify-content: space-between;

}

#trustimg {
    display: block;
    text-align: left;
}

.trusttekst {
    margin: 2%;
}

/* footer  */
.footeraddon {
    background: rgb(0, 0, 0);
    padding: 30px 0px;
    text-align: center;

}

.footeraddon .række {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: white;
}

.footeraddon .række a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.footeraddon .række a:hover {
    color: rgb(77, 67, 67);
}

.footeraddon .række ul {
    width: 100%;
}

.footeraddon .række ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footeraddon .række a i {
    font-size: 40px;
    margin: 0% 1%;
}

#footerh4 {
    color: #f9f9f9;
    text-align: center;
}